################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LIB.Module/v16
/GnssReceiver/Debug
/GnssReceiver/x64/Debug
/x64/Debug
/DuperStateMachine/x64/Debug
/FiniteStateMachine/x64/Debug
